@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,500,700');

// --------------------- Variable Definition --------------------- //

$white:       #FFFFFF;
$main:        #38454f;
$secondary:   #717e88;
$border:      #d9dee9;
$highlight_1: #fd7473; // Red
$highlight_2: #76b133; // lime
$highlight_3: #128DE0; // Blue
$highlight_4: #9f68d0; // Purple

// --------------------- General Styles ------------------------ //

body {
	font-family: 'Proza Libre', sans-serif;
	font-weight: 500;
}


.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.btn {
	font-family: 'Proza Libre', sans-serif;
	text-transform: uppercase;
	display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
	background-image: none;
	border: 1px solid #48a0dc;
	font-size: 1.15em;
	border-radius: 0.25em;
	padding: 0.8em 2.2em;
	-webkit-box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	-moz-box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

.btn-primary {
	border-color: $highlight_2;
  color: $white;
  background-color: $highlight_2;
}

.section-header {
	margin-bottom: 80px;

	h1 {
		font-size: 2.2em;
    font-weight: 400;
    margin: 0 auto;
    color: $main;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;

    &:before {
    	content: "";
	    display: block;
	    width: 90px;
	    height: 3px;
	    background: #76b133;
	    position: absolute;
	    margin: auto;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
	}

	p {
   	color: $secondary;
   	font-size: 0.9em;
   	margin: 0 auto;
   	text-align: center;
  }

}


// --------------------- Banner Styles ------------------------ //

header {

	.banner {
		background: url(../assets/images/banner-background.jpeg);
		background-color: rgba(36,36,46,0.75);
	  background-blend-mode: darken;
		background-repeat: no-repeat;
		background-size: cover;
		height: 700px;
		margin: 0 auto;

		.navigation {
			padding: 1em 10em;
			margin-bottom: 8.5em;
			max-width: 1220px;

			.logo {
				float: left;
				padding-top: .6em;

				img {
					width: 60px;
					height: 50px;
					float: left;
				}

				h1 {
					float: left;
					margin: 0 0 0 .5em;
					text-transform: uppercase;
					font-size: 1.35em;
					padding-top: .6em;
					color: $white;
					font-weight: 700;
					span {
						color: $highlight_2;
					}
				}

			}

			.main-nav {
				float: right;
				padding-top: 1.7em;

				a {
					text-decoration: none;
					padding-left: 1em;
					color: $border;
					font-weight: 500;
					font-size: 1em;

					&:hover {
						color: $highlight_3;
					}
				}

			}
		}

		.hero-tag {
			margin: 0 auto;
			text-align: center;
			color: $white;

			.tag-line {
				font-size: 2.5em;
		    font-weight: 600;
		    margin-bottom: 0.8em;
			}

			.company-line {
				font-size: 1em;
		    line-height: 1;
		    margin-bottom: 3em;
		    font-weight: 400;
			}

			.trial {
		    font-size: 0.75em;
		    margin-bottom: 0.9em;
		    opacity: .45;
		    line-height: 1;
	    	margin-top: 0.75em;
			}

		}

		.press {
			margin: 0 auto;
			padding-top: 7.5em;
			text-align: center;
			
			img {
				width: 50%;
			}
		}


	} /* Banner style end */
}

// --------------------- services Section Styles ------------------------ //

.services {
	max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 6em;
  position: relative;

  .services-list {
  	margin-top: 5em;
		ul {
			list-style: none;
			margin: 0 auto;

			li {
				display: inline-block;
				text-align: center;
				margin: 0 auto;
				float: left;
				padding-right: 3.33%;
				width: 30%;

				img {
					width: 75px;
				}

				.smaller {
					width: 65px;
				}

				h3 {
					color: $main;
					font-size: 1.125em;
			    margin-bottom: 15px;
			    line-height: 1.1
				}

				p {
					color: $secondary;
					font-size: 0.85em;
					line-height: 1.5;
					word-wrap: break-word;
					text-align: center;
					font-weight: 400;
				}

			}
		}
  }

}

// --------------------- Call to Action Section ------------------------ //


.call-to-action {
	background: url(../assets/images/call-to-action-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(36,36,46,0.75);
	background-blend-mode: darken;
	height: 350px;
	margin: 0 auto;

	.wrapper {
		max-width: 1220px;
		margin: 0 auto;
		text-align: center;

		.call {
	  	float: left;
	  	color: $white;
	  	font-size: 1em;
	  	width: 50%;
	  	line-height: 1.5;
	    margin: 7em auto;
	    text-align: center;
	    font-weight: 400;
	  }

	  .btn-secondary {
	  	margin-top: 8.3em;
	  	background-color: $highlight_3;
	  	color: $white;
	  	-webkit-box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	  	-moz-box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	  	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    	transition: box-shadow 0.3s ease-in-out;
    	letter-spacing: 0.08em;
	  }
	}
  
}

// --------------------- Works Section Styles ------------------------ //

.works {
	max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  margin-top: 6em;
  position: relative;

  .work-list {
  	list-style: none;
  	margin: 0;
		padding: 0;

  	li {
			width: 25%;
			float: left;
			display: inline-block;
			position: relative;
			margin-bottom: -4px;
			overflow: hidden;
			transition: transform 0.4s, opacity 0.1s 0.3s;
			img {
				width: 100%;
				max-width: 100%;
			}
			.work-info {
				background: rgba($highlight_3, 0.85);
				padding-top: 10em;
				width: 100%;
				height: 100%;
				position: absolute;
				top: auto;
				bottom: 0;
				opacity: 0;
				transform: translateY(100%);
				transition: transform 0.4s, opacity 0.1s 0.3s;
				h2 {
					color: $white;
					font-size: 1.25em;
					text-transform: uppercase;
					line-height: 1.5;
					padding: 2em 0 0.7em;
				}
				.button {
					border: 2px solid $white;
					color: $white;
					padding: 1em 1.5em;
					text-decoration: none;
					font-size: 0.75em;
					font-weight: 700;
					text-transform: uppercase;
					border-radius: 0.5em;
					transition: all 0.3s ease-in-out;
					&:hover {
						border: 2px solid $highlight_2;
						color: $highlight_2;
					}
				}

			}

			&:hover {
				img {
					transform: scale(1.5);
					transition: transform 0.4s, opacity 0.1s 0.3s;
				}
				.work-info {
					opacity: 1;
					transform: translateY(0px);
					transition: transform 0.4s, opacity 0.1s;
				}
			}

		}
  }
}

// --------------------- Testimonial Section Styles ------------------------ //

.testimonial {
	max-width: 1220px;
	margin: 0 auto;
	text-align: center;
	margin-top: 6em;
  margin-bottom: 6em;

  .client-belt {
  	width: 100%;
  	margin: 0 auto;
  	text-align: center;
  	position: relative;

  	.client-unit {
  		position: absolute;
  		margin: 0 auto;
  		margin-left: 12em;
  		text-align: center;
  		display: none;

  		&.active-client {
  			display: flex;
  		}

  		.client_face {
  			min-width: 300px;
				text-align: center;

				img {
					max-width: 100px;
					border-radius: 50%;
				}
				.client_name {
					display: block;
					text-transform: uppercase;
					font-weight: 400;
					letter-spacing: 1px;
					padding: 3px 0px;
				}

				.client_title {
					font-style: normal;
					font-size: 0.85em;
					color: #717e88;
					line-height: 1.5;
					font-weight: 400;
				}

  		}

  		.client-content {
  			position: relative;
  			max-width: 40%;
  			padding-top: 2em;

  			p {
  				color: #717e88;
			    font-size: 0.85em;
			    line-height: 1.5;
			    word-wrap: break-word;
			    text-align: center;
			    font-weight: 400;
  			}

  			.quote-mark {
  				position: absolute;
  				top: 15px;
  				right: null;
  				bottom: null;
  				left: -20px;
  				height: 50px;
  				width: 50px;
  				z-index: -1;
  				opacity: 0.3;
  			}
  		}
  	}
  }

  .clients-logos {
  	width: 100%;
  	position: relative;
		display: flex;
		align-items: space-around;
		justify-content: center;
		margin-top: 15em;

  	.client-logo {
  		margin: 0 auto;
  		margin-top: 3em;
			height: 80px;
			min-width: 200px;
			
			cursor: pointer;

			&.active-client {
				padding-bottom: 1em;
				box-shadow: 0px 4px 0px 0px $highlight_3; 
			}

  	}

  }
}

// --------------------- Team Section Styles ------------------------ //

.team {
	max-width: 1220px;
	margin: 0 auto;
	text-align: center;
	margin-top: 6em;
  margin-bottom: 6em;

  .team-members {
  	ul {
  		list-style: none;
  		margin: 0;
  		padding: 0;

  		li {
  			display: inline-block;
  			margin: 0;
  			padding: 0;
  			width: 25%;

  			img {
				  border-radius: 50%;
			    width: 174px;
			    height: 174px;
			    margin: auto;
			    margin-bottom: 1.2em;
  			}

  			.title {
  				font-size: 1.2em;
  				color: $secondary;
  				padding: 0;
  				margin: 0;
  				text-align: center;
  				padding-bottom: 1em;
  			}

  			.social {
  				ul {
  					margin: 0;
  					padding: 0;

  					li {
  						margin: 0;
  						padding: 0;

  						i {
  							width: 1.9em;
  							height: 1.9em;
  							color: $white;
  							line-height: 1.9;
  							font-size: 1.2em;
  							background: $secondary;
  							border-radius: 50%;

  							&:hover {
  								background: $highlight_3;
  								transform: scale(1.2);
  							}
  						}
  					}
  				}
  			}

  		}
  	}
  }
}

// ------------------------- Footer Styles ------------------------------ //

.main-footer {
	padding: 2em 0;
	background: $main;
	text-align: center;
	.logo {
		img {
			width: 50px;
			height: 50px;
		}
	
	}
	.copyright {
		color: $white;
		font-size: 0.75em;
		margin: 0;
	}
	.links {
		display: inline;
		a {
			text-decoration: none;
			font-size: .75em;
			margin: 0 0.5em;
			color: $white;
			&:hover {
				color: $highlight_3;
			}
		}
	}
}

@import 'mobile';
    

